<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<link rel="stylesheet" href="style.css">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-animate-left w3-text-white w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold;background: url('https://ncit.s3.amazonaws.com/s3fs-public/styles/resp_hero-breakpoints_theme_nc_base_theme_desktop_1x/public/band_one-it_0_0.jpg?itok=qSUMYXt1');" id="mySidebar"><br>
  <h3 class="w3-padding-64 w3-center"><b>ARTICLES</b></h3>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <a href="#organic_traffic" onclick="w3_close()" class="w3-bar-item w3-button">ORGANIC TRAFFIC</a> 
  <a href="#websiteneedsseo" onclick="w3_close()" class="w3-bar-item w3-button">WEBSITE NEEDS S.E.O.</a> 
  <a href="#cantfigure" onclick="w3_close()" class="w3-bar-item w3-button">Search Engine can't figure out a website without S.E.O</a> 
  <a href="#seoethics" onclick="w3_close()" class="w3-bar-item w3-button">S.E.O Ethics</a> 
  
  <a href="#comments" onclick="w3_close()" class="w3-bar-item w3-button">COMMENTS</a> 
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">ARTICLES</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Photo grid -->
<!--   <div class="w3-row">
    <div class="w3-third">
      <img src="/w3images/natureboy.jpg" style="width:100%" onclick="onClick(this)" alt="A boy surrounded by beautiful nature">
      <img src="/w3images/girl_mountain.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful scenery this sunset">
      <img src="/w3images/girl.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>

    <div class="w3-third">
      <img src="/w3images/boy.jpg" style="width:100%" onclick="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
      <img src="/w3images/man_bench.jpg" style="width:100%" onclick="onClick(this)" alt="Waiting for the bus in the desert">
      <img src="/w3images/natureboy.jpg" style="width:100%" onclick="onClick(this)" alt="Nature again.. At its finest!">
    </div>
    
    <div class="w3-third">
      <img src="/w3images/girl.jpg" style="width:100%" onclick="onClick(this)" alt="Canoeing again">
      <img src="/w3images/girl_train.jpg" style="width:100%" onclick="onClick(this)" alt="A girl, and a train passing">
      <img src="/w3images/closegirl.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful day!">
    </div>
  </div> -->

  <!-- Pagination -->
 <!--  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div> -->
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- About section -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="organic_traffic">
    <h4><b><big><big><big>O</big></big></big>RGANIC <big><big>T</big></big>RAFFIC</b></h4>
    <h6 ><i>August 4, 2017</i></h6>
    <img src="https://www.startteck.com/blog/wp-content/uploads/2016/06/seo-1327870.png" alt="organic traffic" class="w3-image w3-padding-32" width="600" height="650">
    <div class="w3-content w3-justify" style="max-width:600px">
    <p>Organic traffic” is the term used for referring to the visitors who visited on your website as a result of unpaid (“organic”) search results.</p>
      <p>Example of an unpaid Search engines are Google or Bing. Every paid search ads are not included in this category. All Organic search traffic is labeled in color GREEN. In the analytics tool , if you see "UNKNOWN" or "SSL" , this means that the search terms are being contained in the data set. This is not because Google is not sharing this information.
      </p>
      <p>SEO in involved in Organic traffic. All blogs that blog consistently will have a steady increase in organic search traffic. It is important to look at every keywords and identify latest ranking opportunities every month.</p>

      <p>Traffic data is the best for your website and marketing initiatives.Everytime you write or promote your blog , you must use this information to track result and correlate these efforts to actual R.O.I. You must look at traffic numbers over long-term intervals so you will see the trends and reports on improvement.</p>

    
    </div>
  </div>




  <!-- Contact section -->
  <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="websiteneedsseo">
    <div class="w3-content" style="max-width:600px">

       <h4 class="w3-center"><b><big><big><big>W</big></big></big>ebsite <big><big>N</big></big>eeds <big><big>S</big></big>. <big><big>E</big></big>.<big><big>O</big></big>.</b></h4>
    <h6> <i>August 11, 2017</i></h6>
    <a href="https://www.marketingcloud.com/blog/40-inspiring-marketing-quotes-from-seo-experts/">https://www.marketingcloud.com/blog/40-inspiring-marketing-quotes-from-seo-experts/</a>
      
        <p>
          The present inquiry scene is drawing nearer to understanding your purpose on request, and in a few occurrences, conveying comes about before you even inquire. Also, the quantity of inquiry questions keeps on developing. In view of information from comScore, there were just shy of 20.4 billion ventures from desktops alone in March 2013.</p>
          <p>
          In what manner can organizations utilize inquiry (or all the more particularly, Search Engine Optimization, usually known as SEO), and the diverse mediums of advertising, to encourage their business goals? Here are some persuasive quotes from top SEO specialists, pulled from the digital book, SEO Experts Reveal the Truth About Marketing.
          </p>
          <p>
          "On an expansive scale, I see SEO turning into a standardized promoting strategy, a similar way TV, radio, and print are generally thought of as showcasing strategies." ~ Duane Forrester, Senior Product Manager, Bing
          </p>
          <p>
            "The eventual fate of SEO is here: comprehension and advertising to particular and characterized gatherings of people through web indexes." ~ Adam Audette, Chief Knowledge Officer, RKG
          </p>
          <p>
          "Social is the way our work gets found. Content that is genuinely outstanding, one of a kind, and helpful can procure enormous mindfulness through online networking, and that social intensification frequently prompts extraordinary connections, which prompts awesome rankings." ~ Rand Fishkin, CEO/Co-Founder, Moz
          </p>
          <p>
          "What keeps on plagueing seek advertisers is the adherence to old-think issues: 'Content is too difficult to make.' 'Connections are too difficult to manufacture naturally.' This kind of center blinds you to more vital things." ~ Duane Forrester, Senior Product Manager, Bing
          </p>
          <p>
          "The times of SEO being a diversion beating calculations are finished. Today content system and significant, economical methodologies are fundamental, not simply traps and connections." ~ Adam Audette., Chief Knowledge Officer, RKG
          </p>
          <p>
          "We ought to be contemplating social and pursuit as channels that need a bound together approach, on the grounds that the best substance should speak to the two channels and the traverse benefits/economies of scale are conceivably gigantic." ~ Will Critchlow, Founder, Distilled, Inc.
          </p>
    </div>
  </div>



  <!-- Contact section -->
  <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
      

      <div id="comments">
        <h4>Comments:</h4>
          <!-- Begin Comments JavaScript Code --><script type="text/javascript" async>function ajaxpath_59a5513b1b669(url){return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}(function(){document.write('<div id="fcs_div_59a5513b1b669"><a title="free comment script" href="http://www.freecommentscript.com">&nbsp;&nbsp;<b>Free HTML User Comments</b>...</a></div>');fcs_59a5513b1b669=document.createElement('script');fcs_59a5513b1b669.type="text/javascript";fcs_59a5513b1b669.src=ajaxpath_59a5513b1b669((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=59a5513b1b669&s=#!59a5513b1b669");setTimeout("document.getElementById('fcs_div_59a5513b1b669').appendChild(fcs_59a5513b1b669)",1);})();</script><noscript><div><a href="http://www.freecommentscript.com" title="free html user comment box">Free Comment Script</a></div></noscript><!-- End Comments JavaScript Code -->

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-grey">  
    <div class="w3-row-padding">
      <div class="w3-third">
        <h3>INFO</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>      
      </div>
    
      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul">
          <li class="w3-padding-16 w3-hover-black">
            <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16 w3-hover-black">
            <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li> 
        </ul>
      </div>

      <div class="w3-third">
        <h3>POPULAR TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
        </p>
      </div>
    </div>
  </footer>
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>
</html>
